{{ define "manufacturing" }}
{{template "header" .}}

<main class="p-3 m-auto text-center mb-5 w-50 bg-light rounded">
    <h1>Manufacturing</h1>
    <p>
        Being part of the Vita Vehiculum family means that we support the manufacturing of electric vehicles.
        Utilizing our solar generation, Vita Vehiculum has build a new electric vehicle manufacturing complex
        right here at Sonneburg fields. It procides the capability of building EV in a plant run completely off
        solar! Much more efficient than any of our competitors! Please reach out via the contact us page for
        more information regarding our EV manufacturing.
    </p>


</main>

{{template "footer" .}}
{{ end }}