{{ define "solar-generation" }}
{{template "header" .}}

<main class="p-3 m-auto text-center mb-5 w-50 bg-light rounded">
    <h1>Solar Generation</h1>
    <p>
        We are proud of being the newest addition to the Vita Vehiculum family and support their
        manufacturing capabilities with over 15 acres of solar farms throughout the country. Currently our
        largest farm, Sonneberg Fields has capabilities of generating approximately 14000 KW/h of
        electricity. Our mission has always been clean energy and our solar generation efforts are our star in
        that. Please reach out via the contact us page for more information regarding commercial utilization.
    </p>


</main>

{{template "footer" .}}
{{ end }}